@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Account>

@section header {
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Back to administrator page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}

<h1>Users</h1>


<form method="get">
    <label for="searchId">Search by ID:</label>
    <input type="text" name="searchId" id="searchId" value="@HttpContextAccessor.HttpContext.Request.Query["id"]" />
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/Admin/Users" class="btn btn-primary">Reset users</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.IDAccount</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="Update" asp-route-id="@user.IDAccount" class="btn btn-primary">Update</a>
                    <a asp-action="Delete" asp-route-id="@user.IDAccount" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>